<h1>Add a new dose to existing cocktails </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, as: :select %>
  <%= f.input :description %>
  <%= f.button :submit, "Add", class: 'btn btn-info' %>
<% end %>

<!--
# Pick existing ingredient((>> Dropdown))
# user can add a new dose (ingredient/description pair)
-->
